.wallpaper-home img {
    width: 100%;
}

@media (min-width: 992px) {
    #hometext {
        font-size: 4rem;
    }
}

@media (max-width: 991px) {
    #hometext {
        font-size: 2rem; /* Adjust the font size as needed */
    }
}

.remove-negative-margin {
    margin-left: 0;
    margin-right: 0;
}

.text{
    position: relative;
    bottom: 240px;
    margin-left: 43%;
}

.galleryimg{
    opacity: 0.5;
    transition: transform .2s;
    cursor: pointer;
}

.galleryimg:hover{
    transform: scale(1.1);
}
