.wallpaper-home img {
    width: 100%;
}

@media (min-width: 992px) {
    #hometext {
        font-size: 4rem;
    }
}

@media (max-width: 991px) {
    #hometext {
        font-size: 2rem; /* Adjust the font size as needed */
    }
}

.remove-negative-margin {
    margin-left: 0;
    margin-right: 0;
}
